/* Настройка */

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: inherit;
}

body {
	font-family: "Comfortaa", cursive;
	/* font-family: "Yeseva One", cursive; */
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
	color: #000;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.container {
	max-width: 1180px;
	padding: 0 10px;
	margin: 0 auto;
}

.button {
	padding: 18px 45px;
	font-family: Comfortaa;
	font-weight: 600;
	font-size: 14px;
	background-color: #ffbd59;
	color: #272727;
	cursor: pointer;
}

.title {
	margin-bottom: 15px;
	font-family: Yeseva One;
	font-weight: 400;
	font-size: 40px;
}

.section-padding {
	padding-bottom: 150px;
}

.section-title {
	font-family: Yeseva One;
	font-weight: 400;
	font-size: 16px;
}

.section--decor {
	position: relative;
}
.section--decor::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url(../images/section-decor.png);
	width: 24px;
	height: 33px;
}

.section--decor::after {
	content: "";
	position: absolute;
	left: 20px;
	bottom: 11px;
	background-color: #7b6152;
	width: 1000%;
	height: 1px;
}

/* Настройки */

.menu__btn {
	display: none;
	width: 30px;
	height: 25px;
	border: none;
	background-color: transparent;
	flex-direction: column;
	justify-content: space-between;
}

.menu__btn span {
	height: 1px;
	background-color: #7b6152;
	width: 100%;
}

/* Хедер */

.header {
	background-color: #fff8f3;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 10px 0;
}

.menu__list {
	display: flex;
	gap: 20px;
}
.menu__list-link {
	text-transform: uppercase;
}
.phone {
	position: relative;
}
.phone::before {
	content: "";
	position: absolute;
	background-image: url(../images/phone.svg);
	width: 20px;
	height: 20px;
	left: -23px;
	top: -5px;
}
/* Main */

.main {
	background-color: #fff8f3;
	overflow: clip;
}

/* Top */

.top {
	padding: 40px 0 150px;
}
.top__inner {
	position: relative;
}
.top__content {
	width: 370px;
	padding: 150px 0 250px;
}
.top__title {
	font-family: "Yeseva One", cursive;
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 15px;
}
.top__text {
	margin-bottom: 48px;
}

.top__img {
	position: absolute;
	top: 0;
	left: 240px;
}

/* About */

.about {
	margin-bottom: 150px;
	background-color: #a5978e;
	padding: 50px 0 50px;
	color: #fafafa;
}

.about__inner {
	display: flex;
	align-items: center;
}
.about__content {
	min-width: 370px;
	padding: 0 0 30px;
}
.about__title {
	margin: 0 0 15px;
}

.about__text--spaced {
	margin-top: 15px;
}

.about__list {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 0 0 60px 110px;
	flex-basis: 930px;
}

.about__item-img {
	margin: 0 0 10px;
}
.about__item-text {
	font-size: 11px;
}
/* About */

/* Products */

.section__inner {
	display: grid;
	grid-template-columns: 370px auto;
}

.section__content-descr {
	display: grid;
	grid-template-columns: auto auto;
	padding-bottom: 92px;
}

.products__content {
	gap: 50px 90px;
}

/* card */
.products__item {
	width: 290px;
	margin: 0 auto;
	text-align: center;
}
.products__item-img {
	margin-bottom: 8px;
}

.products__item-price {
	font-family: Yeseva One;
	font-size: 16px;
	margin-bottom: 12px;
}
.products__item-title {
	margin-bottom: 16px;
}
.products__item-text {
	font-size: 12px;
	margin-bottom: 27px;
}

/* Products */

/* Footer */
.footer {
	padding: 40px 0 35px 0;
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	width: 230px;
}

.footer__social {
	display: flex;
	gap: 15px;
}

.email {
	margin: 17px 0;
}

/* Адаптив */

@media (max-width: 1024px) {
	.container {
		padding: 0 20px;
	}
	/* Top */
	.top__content {
		width: 333px;
		padding: 90px 0 90px;
	}
	.top__img {
		left: 300px;
	}
	.top__img-l {
		width: 655px;
		height: 415px;
	}
	.top__text {
		margin-bottom: 30px;
	}
	/* Description */
	.about__content {
		min-width: 300px;
	}
	.about__list {
		padding: 0 0 48px 20px;
	}

	/* Products */
	.section__inner {
		grid-template-columns: 300px auto;
	}
	.products__content {
		gap: 67px;
	}
	.products__text {
		font-size: 10px;
	}
}

@media (max-width: 900px) {
	/* Footer */
	.footer__inner {
		flex-wrap: wrap;
	}
	.footer__contacts {
		padding: 15px 0 0;
		width: 100%;
		text-align: center;
	}
	.footer__social {
		justify-content: center;
	}
	/* Products */
	.section__inner {
		grid-template-columns: 200px auto;
	}
	.products__content {
		gap: 30px 16px;
	}
}

@media (max-width: 768px) {
	body {
		font-size: 10px;
	}
	.container {
		max-width: 640px;
		padding: 0;
	}
	.phone::before {
		width: 14px;
		height: 14px;
		left: -16px;
		top: -2px;
		background-size: cover;
	}
	/* Top */
	.top__content {
		width: 230px;
	}
	.top__title {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.top__text {
		margin-bottom: 20px;
	}
	.top__img {
		left: 180px;
	}
	.btn-buy {
		padding: 15px 30px;
	}
	/* Description */
	.about__content {
		min-width: 200px;
	}
	.about__title {
		margin: 0 0 20px;
	}
	.title {
		font-size: 15px;
	}
	.about__list {
		padding: 0 0 30px 20px;
		margin-left: 27px;
		gap: 0 10px;
	}
	.about__item-text {
		font-size: 7px;
	}
	.about__item-img {
		margin: 0 0 6px;
	}
	.about__item-img--small {
		width: 120px;
	}
	.about__item-img--big {
		width: 190px;
	}
	/* Products */
	.title {
		font-size: 15px;
	}
	.products__item {
		width: 200px;
	}
	.products__item-img {
		width: 200px;
		margin-bottom: 5px;
	}
	.section-title {
		font-size: 12px;
	}
	.products__item-price {
		font-size: 12px;
		margin-bottom: 7px;
	}
	.products__item-title {
		font-size: 12px;
		margin-bottom: 10px;
	}
	.products__item-text {
		font-size: 8px;
		margin-bottom: 17px;
	}
	.products-btn {
		padding: 12px 25px;
		font-size: 12px;
	}
}

@media (max-width: 640px) {
	.container {
		padding: 0 10px;
	}
	/* Header */
	.header__menu-list {
		width: 153px;
		background-color: #7b6152;
		color: #fff8f3;
		flex-direction: column;
		padding: 25px 35px 25px 45px;
		position: absolute;
		left: 0;
		top: 0;
		transform: translateX(-100%);
		transition: transform 0.5s ease;
		z-index: 5;
	}
	.header__menu-list.menu-open {
		transform: translateX(0%);
	}
	.menu__btn {
		display: flex;
	}
	.header__menu {
		order: 1;
	}
	/* Products */
	.section__inner {
		display: block;
	}
	.section__descr {
		margin: 0 auto 30px;
		width: 300px;
		text-align: center;
	}
}

@media (max-width: 500px) {
	/* Footer */
	.footer__inner {
		flex-direction: column;
	}
	.footer {
		padding: 50px 0;
		font-size: 14px;
	}
	.footer__menu {
		padding: 50px 0;
		text-align: center;
	}
	.footer__menu-list {
		flex-direction: column;
	}
}

@media (max-width: 480px) {
	.section-padding {
		padding-bottom: 50px;
	}
	/*  Top*/
	.top {
		padding: 30px 0 50px;
	}
	.top__img-l {
		width: 309px;
		height: 309px;
	}
	.top__img {
		left: 167px;
	}
	.top__content {
		width: 180px;
		padding: 80px 0 80px;
	}
	.top__title {
		font-size: 15px;
		margin-bottom: 15px;
	}
	.top__text {
		font-size: 8px;
		margin-bottom: 15px;
	}
	.btn-buy {
		font-size: 11px;
	}
	/* Description */
	.about {
		margin-bottom: 50px;
	}
	.about__content {
		min-width: 170px;
		padding: 0 0 10px;
	}
	.about__list {
		align-items: flex-end;
		gap: 0 5px;
		margin: 0 0 0 5px;
		padding: 0 0 50px 10px;
	}
	.about__item-text {
		display: none;
	}
	.about__item-img {
		margin: 0;
	}
	.about__item-img--small {
		width: 80px;
		height: 80px;
	}
	.about__item-img--big {
		width: 140px;
		height: 140px;
	}
	.about__inner {
		align-items: flex-end;
	}
	/* Products */
	.section__content-descr {
		padding-bottom: 62px;
	}
}

@media (max-width: 440px) {
	.title {
		margin-bottom: 10px;
	}
	.products__content {
		gap: 40px 7px;
	}
	.products__item {
		width: 150px;
	}
	.products__item-img {
		width: 150px;
	}
	.products-btn {
		padding: 11px 22px;
		font-size: 8px;
	}
}

@media (max-width: 400px) {
	body {
		font-size: 8px;
	}
	/* Top */
	.top__img {
		top: -15px;
		right: 0;
		left: auto;
	}
	.top__img-l {
		width: 175px;
		height: 220px;
	}
	.top__content {
		width: 200px;
		padding: 30px 0 0;
	}
	.top__title {
		font-size: 18px;
	}
	.top__text {
		font-size: 10px;
	}
	/* Description */
	.about {
		padding: 25px 0 10px;
	}
	.about__content {
		padding: 0 0 30px;
		min-width: 234px;
	}
	.title {
		margin: 0 0 10px;
	}
	.about__list {
		margin: 0 0 0 12px;
		padding: 0 0 40px 12px;
		gap: 0 50px;
	}
	.about__text--spaced {
		margin-top: 10px;
	}
	.about__item-img--big {
		display: none;
	}

	/* Products */

	.section__descr {
		margin: 0 auto 25px;
		width: 235px;
	}
	.products__item-price {
		font-size: 10px;
		margin-bottom: 5px;
	}
	.products__item-title {
		font-size: 10px;
		margin-bottom: 7px;
	}
}
